*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/demo/release/demo-release.aab
/demo/release/demo-release.apk
/demo/release/baselineProfiles/0/demo-release.dm
/demo/release/baselineProfiles/1/demo-release.dm
/.idea/deviceManager.xml
/demo/release/output-metadata.json
/.idea/inspectionProfiles/Project_Default.xml
